:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.firstScreen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	margin: 16px;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gameScreen {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	gap: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.gameUl {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr));
	width: 100%;
	gap: 16px;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

html,
body {
	height: 100%;
}

body {
	margin: auto;
	display: flex;
	place-items: flex-start;
}

#root {
	width: 100%;
}

@media (max-width: 767px) {
	.gameUl {
		grid-template-columns: repeat(auto-fill, minmax(16vw, 1fr));
	}
}
